<div class="clareamento-dentario">
  <img src="../../assets/equipe.jpg" alt="">
</div>
<div>
  <div>
    <h2 id="clareamento">Bem-vindo à Exemplo Odontologia, onde o seu sorriso é a nossa maior prioridade!</h2>
    <div class="texto-implante">
      <p> Somos uma clínica odontológica dedicada a oferecer serviços de alta qualidade e um atendimento humanizado a todos os nossos pacientes. Nosso objetivo é proporcionar saúde, bem-estar e confiança através de tratamentos odontológicos modernos e eficazes.</p>
      <p class="titulo">Nossa Missão</p>
      <p>Na Exemplo Odontologia, acreditamos que um sorriso saudável é fundamental para a qualidade de vida. Nossa missão é fornecer cuidados odontológicos excepcionais, utilizando as melhores práticas e tecnologias avançadas para garantir que cada paciente receba um tratamento personalizado e eficiente. Nos esforçamos para criar um ambiente acolhedor e confortável, onde cada visita ao dentista seja uma experiência positiva.</p>
      <p class="titulo">Nossa Visão</p>
      <p>Buscamos ser referência em odontologia, reconhecidos pela excelência no atendimento e pelos resultados de alta qualidade que proporcionamos. Queremos ser a escolha número um dos pacientes que procuram uma clínica odontológica de confiança, comprometida com a saúde bucal e o bem-estar integral.</p>
      <p class="titulo">Nossa Equipe</p>
      <p>Contamos com uma equipe de profissionais altamente qualificados e apaixonados pela odontologia. Nossos dentistas são especializados em diversas áreas, incluindo estética, implantes, ortodontia e periodontia. Cada membro da nossa equipe está comprometido em oferecer um atendimento de excelência, focado na saúde e satisfação dos nossos pacientes.</p>
      <p id="paragrafo-final">Então, está esperando o que para fazer sua avaliação? Para nos chamar no WhatsApp <a href="">Clique Aqui!</a></p>
    </div>
  </div>
</div>
