<div class="clareamento-dentario">
  <img src="../../assets/calreamento-fundo.png" alt="">
</div>
<div>
  <div>
    <h2 id="clareamento">Clareamento Dental</h2>
    <div class="texto-clareamento">
      <p>O clareamento dental é um dos tratamentos odontológicos mais populares e eficazes para melhorar a aparência do seu sorriso. Este procedimento estético visa clarear a cor dos dentes, removendo manchas e descolorações que podem ocorrer com o tempo devido a fatores como alimentos, bebidas, tabaco e até mesmo o envelhecimento natural.</p>
      <p class="titulo">Mas Como Funciona Exatamente Clareamento Dental?</p>
      <p>Clareamento dental é um procedimento odontológico que utiliza agentes clareadores para remover manchas e descolorações da superfície dos dentes. Os agentes mais comuns são o peróxido de hidrogênio e o peróxido de carbamida. Esses produtos penetram no esmalte dos dentes e quebram as moléculas de pigmento que causam as manchas, resultando em dentes mais brancos e brilhantes.</p>
      <p class="titulo">Benefícios do Clareamento Dental</p>
      <ul>
        <li class="espaco-linha"><span class="destaque">Aparência Rejuvenescida:</span> Um sorriso mais branco pode fazer você parecer mais jovem e revitalizado.</li>
        <li class="espaco-linha"><span class="destaque">Aumento da Autoestima:</span> Dentes mais brancos podem aumentar sua confiança e autoestima, fazendo você se sentir mais confortável ao sorrir, falar e socializar.</li>
        <li class="espaco-linha"><span class="destaque">Resultados Rápidos:</span> Dependendo do método escolhido, você pode ver grandes resultados em apenas uma sessão.</li>
        <li class="espaco-linha"><span class="destaque">Tratamento Não Invasivo:</span> O clareamento dental é um procedimento seguro e não invasivo, que não requer cirurgia ou perfurações.</li>
      </ul>
      <p id="paragrafo-final">Então, está esperando o que para fazer sua avaliação? Para nos chamar no WhatsApp <a href="">Clique Aqui!</a></p>
    </div>
  </div>
</div>
