<nav>
  <img class="logo-menu" src="../assets/dente.png" alt="">
  <div>
    <a href="" [routerLink]="'/home'">Página Inicial</a>
    <a href=""  [routerLink]="['/quem-somos']">Quem Somos Nós?</a>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="siga-redes">
    <p>Nos siga em nossas Redes Sociais:</p>
    <div class="links-redes">
      <a href=""><img class="img-redes" src="../assets/facebook.png" alt=""></a>
      <a href=""><img class="img-redes" src="../assets/instagram.png" alt=""></a>
    </div>
  </div>
  <div class="endereco">
    <p>Avenida Exemplo, 775</p>
    <p>Carazinho/RS   CEP:99500-000</p>
  </div>
  <div class="copyright">
    <p>&copy;Copyright Exemplo Odontologia</p>
  </div>
</footer>
