<div class="clareamento-dentario">
  <img src="../../assets/implante-dentario.jpg" alt="">
</div>
<div>
  <div>
    <h2 id="clareamento">Implante Dentário</h2>
    <div class="texto-implante">
      <p>O implante dentário é uma solução moderna e eficaz para a substituição de dentes perdidos, proporcionando um sorriso mais saudável, bonito e funcional. Este procedimento é amplamente reconhecido por sua durabilidade e pela capacidade de melhorar a qualidade de vida dos pacientes.</p>
      <p class="titulo">Como Funciona o Implante Dentário?</p>
      <p>Um implante dentário é um pequeno parafuso de titânio que é inserido cirurgicamente no osso maxilar ou mandibular, onde atuará como uma raiz artificial para sustentar uma coroa, ponte ou prótese dentária. O titânio é um material biocompatível, o que significa que é bem aceito pelo organismo e se integra ao osso através de um processo chamado osseointegração.</p>
      <p class="titulo">Benefícios dos Implantes Dentários</p>
      <ul>
        <li class="espaco-linha"><span class="destaque">Estética Natural:</span> Os implantes dentários são projetados para parecer e funcionar como dentes naturais, proporcionando um sorriso esteticamente agradável e natural.</li>
        <li class="espaco-linha"><span class="destaque">Durabilidade:</span> Com os cuidados adequados, os implantes dentários podem durar uma vida inteira, tornando-se uma solução a longo prazo para a perda dentária.</li>
        <li class="espaco-linha"><span class="destaque">Melhora na Função Mastigatória:</span> Os implantes permitem uma mastigação mais eficiente, ajudando na digestão e na ingestão de alimentos.</li>
        <li class="espaco-linha"><span class="destaque">Manutenção da Estrutura Facial:</span> Os implantes ajudam a manter a estrutura facial, evitando a aparência de "rosto envelhecido" que pode resultar da perda dentária.</li>
        <li class="espaco-linha"><span class="destaque">Conforto e Confiança:</span> Diferente das próteses removíveis, os implantes são fixos e estáveis, eliminando o desconforto e a insegurança de dentes soltos ou que se deslocam.</li>
      </ul>
      <p id="paragrafo-final">Então, está esperando o que para fazer sua avaliação? Para nos chamar no WhatsApp <a href="">Clique Aqui!</a></p>
    </div>
  </div>
</div>
