<main>
  <section class="section-1">
    <div class="text-container" [@fadeInLeft]="animationState.textContainerAnimated ? 'in' : 'void'">
      <p>Agende sua consulta grátis agora!</p>
      <a href="https://wa.me/5554992727584?text=Olá%20gostaria%20de%20agendar%20uma%20consulta" class="link-whats"><img src="../assets/btn-agendar.png" alt=""></a>
    </div>
    <div class="img-dentista" [@fadeInRight]="animationState.imgDentistaAnimated ? 'in' : 'void'">
      <img src="../assets/dentista.png" alt="">
    </div>
  </section>
  <section class="section-2" [@fadeInUp]="animationState.section2Animated ? 'in' : 'void'">
    <h2>Conheça mais sobre nossos principais Serviços</h2>
    <div class="servicos-container">
      <div class="servicos" [routerLink]="['/clareamento-dental']">
        <img src="../assets/clareamento-dentario.jpg" alt="">
        <p>Clareamento Dental</p>
      </div>
      <div class="servicos" [routerLink]="['/implante-dentario']">
        <img src="../assets/implante-dentario.jpg" alt="">
        <p>Implante Dentário</p>
      </div>
      <div class="servicos" [routerLink]="['/lentes-contato']">
        <img src="../assets/lente-contato.jpg" alt="">
        <p>Lentes de Contato Dentárias</p>
      </div>
    </div>
  </section>
  <section class="section-3">
    <h2>Conheça a opinião de nossos Clientes!</h2>
    <div class="slider">
      <div class="slides">
        <div class="slide">
          <div class="img-fundo imag3"></div>
          <p class="nome-cliente">Ana Paula Brós</p>
          <p>"Ótimo atendimento e serviço de qualidade!"</p>
        </div>
        <div class="slide">
          <div class="img-fundo imag1"></div>
          <p class="nome-cliente">José Roberto</p>
          <p>"Muito satisfeita com o clareamento dental."</p>
        </div>
        <div class="slide">
          <div class="img-fundo imag2"></div>
          <p class="nome-cliente">Natália Silva</p>
          <p>"Recomendo a todos! Equipe excelente."</p>
        </div>
        <div class="slide">
          <div class="img-fundo imag1"></div>
          <p class="nome-cliente">Pedro Soares</p>
          <p>"Ambiente acolhedor e profissionais competentes."</p>
        </div>
        <div class="slide">
          <div class="img-fundo imag2"></div>
          <p class="nome-cliente">Bruna Ambrósio</p>
          <p>"Muito bom o atendimento. Adorei!"</p>
        </div>
        <div class="slide">
          <div class="img-fundo imag3"></div>
          <p class="nome-cliente">Taís Silva</p>
          <p>"Ótimo trabalho e ótimo preço! Vale a pena"</p>
        </div>
      </div>
    </div>
  </section>
</main>

