<div class="clareamento-dentario">
  <img src="../../assets/lente-contato.jpg" alt="">
</div>
<div>
  <div>
    <h2 id="clareamento">Lentes De Contato</h2>
    <div class="texto-implante">
      <p>As lentes de contato dentárias são uma solução inovadora e minimamente invasiva para quem deseja melhorar a aparência dos dentes, proporcionando um sorriso mais branco, alinhado e harmonioso. Este tratamento é ideal para corrigir pequenas imperfeições, como manchas, desgastes, espaçamentos e pequenas correções de alinhamento.</p>
      <p class="titulo">Como é o Procedimento de Colocação de Lentes de Contato Dentárias?</p>
      <p>As lentes de contato dentárias são finas lâminas de porcelana ou resina composta que são coladas na superfície frontal dos dentes. Essas lâminas são extremamente finas, geralmente com espessura entre 0,2 e 0,5 milímetros, o que permite uma aplicação conservadora com mínima ou nenhuma remoção do esmalte dentário original.</p>
      <p>A colagem é feita depois da preparação do dente, o que envolve uma limpeza profissional para remoção de possíveis focos com acúmulo de placa e tártaro. Logo depois a colagem das lentes é feita com cimento especifico para uso odontológico, sem dor e necessidade de aplicar anestésico.</p>
      <p class="titulo">Benefícios das Lentes de Contato Dentárias</p>
      <ul>
        <li class="espaco-linha"><span class="destaque">Estética Superior:</span> As lentes de contato dentárias oferecem uma aparência natural e altamente estética, permitindo um sorriso branco e alinhado.</li>
        <li class="espaco-linha"><span class="destaque">Minimamente Invasivo:</span> Este tratamento preserva a estrutura natural dos dentes, requerendo pouca ou nenhuma remoção de esmalte dentário.</li>
        <li class="espaco-linha"><span class="destaque">Resistência e Durabilidade:</span> As lentes de porcelana são resistentes a manchas e desgastes, proporcionando um resultado duradouro.</li>
        <li class="espaco-linha"><span class="destaque">Correção de Imperfeições:</span> São eficazes na correção de manchas, desgastes, pequenas fraturas, espaçamentos e desalinhamentos leves.</li>
        <li class="espaco-linha"><span class="destaque">Rápido e Eficiente:</span> O procedimento geralmente requer poucas consultas, permitindo uma transformação rápida do sorriso.</li>
      </ul>
      <p id="paragrafo-final">Então, está esperando o que para fazer sua avaliação? Para nos chamar no WhatsApp <a href="">Clique Aqui!</a></p>
    </div>
  </div>
</div>

